body, html {
    margin:0; padding:0;
    width:100%; height:100%;
}

* {
    box-sizing: border-box;
    background-color: black;
}

game * {
    position: absolute;
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

player {
    background-image: url(../img/terminal_enemy1_player.png);
    width:257px; height:338px;
    transform: scale(0.1)
}

block {
    background-image: url(../img/block1.png);
    width:382px; height:1080px;
}
