body, html {
    margin:0; padding:0;
    width:100%; height:100%;
}

* {
    box-sizing: border-box;
}

game * {
    position: absolute;
    display: block;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

player {
    background-image: url(../img/robot.png);
    width:320px; height:320px;
}